.score-box {
  border: 2px solid #4CAF50;
  padding: 20px;
  margin: 30px auto;
  width: 400px;
  border-radius: 10px;
  text-align: left;
  background-color: #f9f9f9;
  box-shadow: 2px 2px 12px #aaa;
  font-family: Arial, sans-serif;
}

.score-box h1 {
  color: #4CAF50;
  text-align: center;
}

.score-box p {
  font-size: 25px;
  margin: 8px 0;
}
